.hero {
  background: url(../img/bg.jpg) no-repeat center center/cover;
  height: 100vh;
  position: relative;
  color: white;

  &--content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 60%;
    margin-top: 10rem;

    h4 {
      font-size: 2.8rem;
      font-weight: 400;
      color: $mint;

      @include respond(phone) {
        font-size: 2.4rem;
      }
    }

    h1 {
      font-size: 9rem;
      font-weight: 300;

      @include respond(phone) {
        font-size: 7rem;
      }
    }

    p {
      padding-top: 15rem;
      font-size: 3rem;
      margin: 2rem 0 3rem;

      @include respond(phone) {
        font-size: 2rem;
      }
    }

    a {
      font-size: 2rem;
    }
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      to bottom,
      rgba(rgb(0, 32, 63), 0.4),
      rgba(rgb(173, 239, 209), 0.6)
    );
  }

  & * {
    z-index: 10;
  }
}
